{% extends 'base.html' %}
{% block title %}blog title{% endblock %}
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>{{article.title}}</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <p class="text-center"><span>{{article.author.username }}</span><span style="margin-left: 20px">{{ publish}}</span></p>
        <div style="margin-left: 20px">{{article.body}}</div>
        </div>
            <div class="col-xs-6 col-md-4>">
                <h2>广告</h2>
                <p>跟着老齐学：www.itediffer.com</p>
                <img width="200px" src="http://k.zol-img.com.cn/wallpaper/7056/7055706_0540.jpg" alt="">
            </div>
    </div>
{% endblock %}